<ion-header>

  <ion-navbar class="detailsNavBar" color="customBlue">

    <h2 id="title">{{incidentTitle}}</h2>

  </ion-navbar>

</ion-header>


<ion-content>
  <div style="overflow:scroll; height: 100%;">
    <div #map id="map"></div>

    <div class="description">
      <p id="myAddress">
        <b>Your Location:</b> {{address}}
      </p>

      <p>
        <b>Please Provide Your Mobile Number:</b>
      </p>
      <textarea placeholder="+61 4XX XXX XXX" id="phoneNumber" rows="1" type="text" value="" [(ngModel)]="mobileNum"></textarea>

      <div id="initialDesc" *ngIf="update">
        <p>
          <b>Enter Additional Information:</b>
        </p>
        <textarea placeholder="Has anything changed since you last submitted?" id="text" rows="10" type="text"
          value="" [(ngModel)]="additionalInfo"></textarea>
      </div>

      <div id="additionalDesc" *ngIf="!update">
        <p>
          <b>Enter Incident Description:</b>
        </p>
        <textarea placeholder="Types of injuries, number of casualties, cause of incident, etc." id="text" rows="10" type="text"
          value="" [(ngModel)]="bindedDesc"></textarea>
      </div>


    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-navbar transparent>

    <button ion-button icon-end full large color="customBlue" id="submitBtn" (click)="submit()">
      Submit
      <ion-icon name="md-send"></ion-icon>
    </button>

  </ion-navbar>
</ion-footer>
